<footer class="text-center text-lg-start">
    <!-- Grid container -->
    <div class="container p-4">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase text-warning">Suivez-Nous</h5>
          <a href="https://www.facebook.com/SonatelAcademy" class="text-white"><img src="./assets/img/icon/fb.png" alt=""></a>
          <a href="#!" class="text-white"><img src="./assets/img/icon/tt.png" alt=""></a>
          <a href="#!" class="text-white"><img src="./assets/img/icon/linkedin.png" alt=""></a>
          <a href="#!" class="text-white"><img src="./assets/img/icon/insta.png" alt=""></a>
          <!-- <a href="#!" class="text-white"><img src="./assets/img/icon/forum.png" alt=""></a> -->
        </div>
        <!--Grid column-->
  
           <!--Grid column-->
           <div class="col-lg-6 col-md-12 mb-4 mb-md-0 ">
            <h5 class="text-uppercase text-warning">CODING FOR BETTER LIFE</h5>
    
            <p class="text-white">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste atque ea quis
              molestias. Fugiat pariatur maxime quis culpa corporis vitae repudiandae aliquam
              voluptatem veniam, est atque cumque eum delectus sint!
            </p>
          </div>
          <!--Grid column-->
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0 text-center">
          <h5 class="text-uppercase mb-0 text-warning">sonatel academy</h5>
          <img class="" src="./assets/img/academy.png" alt="">
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
        <!-- Copyright -->
    <div class="text-center text-warning">
      © 2020 Copyright:
      <a class="text-dark" href="">ORANGE DIGITAL CENTER</a>
    </div>
    <!-- Copyright -->
    </div>
    <!-- Grid container -->
  </footer>