<footer class="text-center text-lg-start">
    <!-- Grid container -->
    <div class="container p-4">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase text-warning">Nos Actualites</h5>
          <a href="https://www.facebook.com/SonatelAcademy" class="text-white"><img src="./assets/img/icon/fb.png" alt=""></a>
          <a href="https://twitter.com/AcademySonatel" class="text-white"><img src="./assets/img/icon/tt.png" alt=""></a>
          <a href="https://www.linkedin.com/in/sonatel-academy-699055155/" class="text-white"><img src="./assets/img/icon/linkedin.png" alt=""></a>
          <a href="#!" class="text-white"><img src="./assets/img/icon/insta.png" alt=""></a>
        </div>
        <!--Grid column-->
           <!--Grid column-->
           <div class="col-lg-6 col-md-12 mb-4 mb-md-0 ">
            <h5 class="text-uppercase text-warning">CODING FOR BETTER LIFE</h5>
            <p class="text-white">
              <a href="">Conditions d'utilisation</a><br>
              <a href="">Politique de confidentialité</a><br>
              <a href="">Mentions légales</a>
            </p>
            <div class="text-center text-warning">
              © 2020 Copyright:
              <a class="text-white" href="https://www.academysonatel.com/">ORANGE DIGITAL CENTER</a>
            </div>
          </div>
          <!--Grid column-->
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0 text-center">
          <h5 class="text-uppercase mb-0 text-warning">sonatel academy</h5>
          <img class="w-50 p-3" src="./assets/img/academy.png" alt="">
        </div>
        <!--Grid column-->
      </div>
    </div>
    <!-- Grid container -->
  </footer>