
    <div class="jumbotron shadow p-3">
        <h1 class="display-5 text-center text-light bg-primary">Créer une Promotion</h1>
        <p class="lead text-danger"><img src="/src/assets/img/icon/" alt="">* Obligatoire.</p>
        <hr class="my-4">
        <form>
            <fieldset>
                <div class="form-group col-lg-4">
                    <label for="exampleSelect1">Choix de la langue <i class="text-danger">*</i> </label>
                    <select class="form-control bg-warning" id="exampleSelect1">
                      <option>CHOIX DE LA LANGUE</option>
                      <option>Français</option>
                      <option>Anglais</option>
                      <option>Sango</option>
                      <option>Wolof</option>
                    </select>
                </div>
              <div class="form-group">
                <label for="InputTitre">Titre <i class="text-danger">*</i></label>
                <input type="text" class="form-control " id="" aria-describedby="titre" 
                        placeholder="choisir le titre le plus claire, le plus pro et le plus acchocheur possible">
              </div>
              <div class="form-group">
                <label for="Textdescription">Description de la promo</label>
                <textarea class="form-control" id="exampleTextarea" rows="3" 
                          placeholder="Ecrivez une description rapide, simple et concise"></textarea>
              </div>
              <div class="form-group">
                <label for="InputLieu">Lieu de la promotion <i class="text-danger">*</i></label>
                <input type="text" class="form-control" id="" aria-describedby="lieu" 
                        placeholder="Indiquez la region dans laquelle se trouve votre promotion">
              </div>
              <div class="form-group">
                <label for="InputReference">Reference Agate<i class="text-danger">*</i></label>
                <input type="text" class="form-control" id="" aria-describedby="titre" 
                        placeholder="Reference Agate est un code analytique à demander à votre Responsable si vous n'avez pas">
              </div>
              <div class="form-group col-lg-4">
                <label for="exampleSelect1">Choix de la fabrique <i class="text-danger">*</i> </label>
                <select class="form-control bg-warning" id="exampleSelect1">
                  <option> CHOIS DE LA FABRIQUE</option>
                </select>
              </div>
              <div class="form-group">
                <div class="row">
                    <div class="col-lg-6">
                        <label for="InputLieu">Date Début <i class="text-danger">*</i></label>
                        <input type="date" class="form-control" id="" aria-describedby="dateDebut" 
                        placeholder="Indiquez la region dans laquelle se trouve votre promotion">
                    </div>
                    <div class="col-lg-6">
                        <label class="ml-2" for="InputLieu">Date Fin <i class="text-danger">*</i></label>
                        <input type="date" class="form-control" id="" aria-describedby="dateDebut" 
                                placeholder="Indiquez la region dans laquelle se trouve votre promotion">
                    </div>
                </div>
                
              </div>
              <div class="form-group">
                <label for="exampleSelect1">Referentiel <i class="text-danger">*</i></label>
                <select class="form-control" id="exampleSelect1">
                    <option></option>
                    <option>Intégration Web</option>
                </select>
              </div>
                <div class="form-group text-center border border-primary">
                    <span >Fichiers acceptés: jpeg, png</span><br><br>
                    <label for="exampleInputFile">Faites glisser une image ou</label><br><br>
                    <label for="">
                        <input type="file" class="form-control-file mx-auto d-block" id="exampleInputFile" aria-describedby="fileHelp">
                    </label>
                </div>
              <div class="row">
                  <div class="col-lg-6">
                    <button type="submit" class="btn btn-primary"><img src="./assets/img/icon/return.png" alt=""> RETOUR</button>
                  </div>
                  <div class="col-lg-6">
                    <a [routerLink]="['/home/promos/apprenants']">
                       <button type="submit" class="btn btn-primary">CREER LA PROMOTION ET AJOUTER APPRENANT<img src="./assets/img/icon/suivant.png" alt=""> </button>
                    </a>
                  </div>
              </div>
            </fieldset>
        </form>
      </div>
<router-outlet></router-outlet>