<router-outlet></router-outlet>
<div class="row">
  <div class="col-lg-9 mx-auto mt-5 shadow">
    <h1 class="display-5 text-center bg-warning">Liste Profiles de Sortie</h1>
        <a class="" [routerLink]="['/home/profiles-sortie/add-profile-sortie']">
        <button type="submit" class="btn btn-primary float-right">Ajouter <img src="./assets/img/icon/add-user.png" alt=""></button>
        </a>
        <table class="table table-bordered mt-5">
          <thead class="bg-primary text-light text-center">
            <tr>
              <th scope="col">Libelle</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody *ngFor="let p of profilesSortie">
            <tr class="float-center">
              <td >{{p.libelle}}</td>
              <td class="float-right">
                <!-- <a class="ml-4" [routerLink]="['/home/profiles-sortie/apprenants-by-profile-sortie']">Lister Apprenants</a> -->
                  <a class="ml-4" [routerLink]="['profiles-sortie/1/edit']"><img src="./assets/img/icon/upd.png" alt=""></a>
                  <a class="ml-4" [routerLink]="['profiles-sortie/1']"><img src="./assets/img/icon/delete.png" alt=""></a>
              </td>
            </tr>
          </tbody>
      </table>
</div>
</div>