<div class="col-lg-9">
    <div class="jumbotron shadow p-3">
        <h1 class="display-5 text-center text-light bg-primary">Ajouter un User</h1>
        <p class="lead text-danger"><img src="/src/assets/img/icon/" alt="">* Obligatoire.</p>
        <hr class="my-4">
        <form>
            <div class="row">
                <div class="col-lg-7">
                <fieldset>
                    <div class="form-group">
                    <label for="InputTitre">Nom <i class="text-danger">*</i></label>
                    <input type="text" class="form-control " id="" aria-describedby="titre" 
                            placeholder="Entrez le nom">
                    </div>
                    <div class="form-group">
                    <label for="InputTitre">Prenom <i class="text-danger">*</i></label>
                    <input type="text" class="form-control " id="" aria-describedby="titre" 
                            placeholder="Entrez le prenom">
                    </div>
                    <div class="form-group">
                    <label for="InputLieu">Adresse Mail <i class="text-danger">*</i></label>
                    <input type="text" class="form-control" id="" aria-describedby="lieu" 
                            placeholder="Indiquez la region dans laquelle se trouve votre promotion">
                    </div>
                    
                    <div class="form-group col-lg">
                    <label for="exampleSelect1">Profile <i class="text-danger">*</i> </label>
                    <select class="form-control " id="exampleSelect1">
                        <option> selectionner un profile</option>
                    </select>
                    </div>
                    <span >NB: Les profils à ajouter sont: Admin, Cm, Formateur</span><br><br>
    
                    <div class="row">
                        <div class="col-lg-6">
                        <button type="submit" class="btn btn-primary">SOUMETTRE</button>
                        </div>
                    </div>
                </fieldset>
                </div>
                <div class="col-lg-5">
                <div class="form-group">
                    <img class="ml-5" src="./assets/img/avatar.png" alt="">
                    <input type="file" class="form-control " id="" aria-describedby="titre" placeholder="Entrez le prenom">    
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>