<div class="col-lg-9 mt-5 mx-auto">
    <div class="jumbotron shadow p-3">
        <h4 class="display-5 text-center text-light bg-primary">Ajouter un User</h4>
        <p class="lead text-danger"><img src="/src/assets/img/icon/" alt="">* Obligatoire.</p>
        <hr class="my-4">
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-lg-7">
                <fieldset>
                    <div class="form-group">
                    <label for="nom">Nom <i class="text-danger">*</i></label>
                    <input type="text" class="form-control " id="" aria-describedby="nom"  formControlName="nom" [(ngModel)]="nom"
                            placeholder="Entrez le nom">
                    </div>
                    <div class="form-group">
                    <label for="prenom">Prenom <i class="text-danger">*</i></label>
                    <input type="text" class="form-control " id="" aria-describedby="prenom" formControlName="prenom" [(ngModel)]="prenom"
                            placeholder="Entrez le prenom">
                    </div>
                    <div class="form-group">
                    <label for="email">Adresse Mail <i class="text-danger">*</i></label>
                    <input type="email" class="form-control" id="" aria-describedby="email" formControlName="email" [(ngModel)]="email"
                            placeholder="saisissez votre email ex: user@gmail.com">
                    </div>
                    
                    <div class="form-group col-lg">
                    <label for="profile">Profile <i class="text-danger">*</i> </label>
                    <select class="form-control " id="profile" formControlName="profile" [(ngModel)]="profile">
                        <option> selectionner un profile</option>
                    </select>
                    </div>
                    <span >NB: Les profils à ajouter sont: Admin, Cm, Formateur</span><br><br>

                </fieldset>
                </div>
                <div class="col-lg-5">
                    <div class="form-group">
                        <img class="ml-5 rounded-circle avatar" src="./assets/img/avatar.png" alt="">
                        <input type="file" class="form-control " id="" aria-describedby="avatar" [(ngModel)]="avatar">    
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <button type="submit" class="btn btn-primary ml-5">SOUMETTRE</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>