<div class="jumbotron shadow p-3">
    <div class="row">
        <div class="col-lg-6">
            <h1 class="text-left">Mon Profil</h1>
            <div class="">
                <img class="ml-5" src="./assets/img/avatar.png" alt="">
            </div>
            <fieldset>
                <span for="InputTitre">Rangba Ouedane</span><hr>
                <span for="InputTitre">Gerry Oreste</span><hr>
                <span for="InputLieu">rajerr2013@gmail.com</span><hr>
                <span for="exampleSelect1">Apprenant</span><hr>
            </fieldset>
        </div>
        <div class="col-lg-6">
            <a class="btn btn-primary btn-lg float-right" href="#" role="button"><img src="./assets/img/icon/setting.png" alt=""> Parametres</a>
        </div>
        <div class="col-lg-12">
            <a class="btn btn-secondary btn-lg" href="#" role="button"> Deconnexion</a>
        </div>
    </div>
  </div>