
    <div class="jumbotron col-lg-6 shadow p-3 mt-5">
        <h4 class="display-5 text-center text-light bg-primary">Ajouter des Competences</h4>
        <hr class="my-4">
        <form>
            <fieldset>
                <div class="form-group">
                <label for="InputTitre">Groupe de competence</label>
                    <select class="form-control " id="exampleSelect1">
                        <option> Developper le Backend d'une application</option>
                    </select>
                </div>
              <div class="form-group">
                <label for="InputTitre">Libelle</label>
                <input type="text" class="form-control " id="" aria-describedby="titre" 
                        placeholder="Créer une base de données">
              </div>
              <div class="form-group">
                <span class="col-lg-6">
                 <a class="col-lg-3" href="">Niveau 1</a>
                 <a class="col-lg-3" href="">Niveau 2</a>
                 <a class="col-lg-3" href="">Niveau 3</a>
                </span><hr>
                <textarea class="ml-3 border border-primary text-secondary" cols="22" rows="10" name="" id="" >Groupe d'action à réaliser</textarea>
                <textarea class="ml-3 border border-primary text-secondary" cols="22" rows="10" name="" id="" >Critère d'évaluation</textarea>
             </div>
              <div class="row">
                  <div class="col-lg-6">
                    <button type="submit" class="btn btn-primary float-right">Soumettre</button>
                  </div>
              </div>
            </fieldset>
        </form>
      </div>
