<div class="col-lg-6 mx-auto mt-5">
    <div class="jumbotron shadow p-3">
        <h5 class="display-5 text-center text-light bg-primary">Ajouter un Profile</h5>
        <p class="lead text-danger"><img src="/src/assets/img/icon/" alt="">* Obligatoire.</p>
        <hr class="my-4">
        <form>
            <fieldset>
                <div class="form-group">
                    <label for="InputTitre">Libelle <i class="text-danger">*</i></label>
                    <input type="text" class="form-control " id="" aria-describedby="titre" 
                            placeholder="Saisir le libelle">
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <button type="submit" class="btn btn-primary float-right">SOUMETTRE</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>