<h1 class="display-5 text-center text-light bg-primary mt-5">Liste Apprenants</h1>
    <table class="table table-bordered">
        <thead class="bg-warning text-center">
          <tr>
            <th scope="col">Avatar</th>
            <th scope="col">Nom</th>
            <th scope="col">Prenom</th>
            <th scope="col">Mail</th>
            <th scope="col-lg-2">Action</th>
          </tr>
        </thead>
        <tbody *ngFor="let apprenant of apprenants">
          <tr>
            <td><label  for=""><img class=" avatar" [src]="'data:image/;base64,'+apprenant.avatar" alt="" srcset=""></label></td>
            <td>{{apprenant.nom}}</td>  
            <td>{{apprenant.prenom}}</td>
            <td>{{apprenant.email}}</td>
            <td>
                <a class="ml-4" [routerLink]="['/users/1']"><img src="./assets/img/icon/vue.png" alt=""></a>
                <a class="ml-4" [routerLink]="['/users/1/editer']"><img src="./assets/img/icon/upd.png" alt=""></a>
                <a class="ml-4" href=""><img src="./assets/img/icon/delete.png" alt=""></a>
            </td>
          </tr>
        </tbody>
      </table>