<div class="border border-primary mt-3">
    <h1 class="display-5 text-center">Lister Reférentiels</h1>
    <div class="col-lg">
        <a [routerLink]="['/referentiels/add-referentiel']">
            <button type="submit" class="btn btn-primary float-right"><img src="./assets/img/icon/add-user.png" alt=""></button>
        </a>
    </div>
    <div class="row mt-5">
        <div class="col-lg-4">
            <div class="card border-primary mb-3" style="max-width: 20rem;">
                <div class="card-header">Libelle <a class="float-right" href=""><img src="./assets/img/icon/upd.png" alt=""></a><a class="float-right" href=""><img src="./assets/img/icon/close.png" alt=""></a></div>
                <div class="card-body">
                  <p class="card-text">Présentation: Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, amet.</p>
                <div class="card-footer">Groupe Competences</div>
                <div class="card-footer">Programme</div>
                <div class="card-footer">Critère d'évaluation</div>
                <div class="card-footer">Critère d'admission</div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card border-primary mb-3" style="max-width: 20rem;">
                <div class="card-header">Libelle <a class="float-right" href=""><img src="./assets/img/icon/upd.png" alt=""></a><a class="float-right" href=""><img src="./assets/img/icon/close.png" alt=""></a></div>
                <div class="card-body">
                  <p class="card-text">Présentation: Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, amet.</p>
                <div class="card-footer">Groupe Competences</div>
                <div class="card-footer">Programme</div>
                <div class="card-footer">Critère d'évaluation</div>
                <div class="card-footer">Critère d'admission</div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card border-primary mb-3" style="max-width: 20rem;">
                <div class="card-header">Libelle <a class="float-right" href=""><img src="./assets/img/icon/upd.png" alt=""></a><a class="float-right" href=""><img src="./assets/img/icon/close.png" alt=""></a></div>
                <div class="card-body">
                  <p class="card-text">Présentation: Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, amet.</p>
                <div class="card-footer">Groupe Competences</div>
                <div class="card-footer">Programme</div>
                <div class="card-footer">Critère d'évaluation</div>
                <div class="card-footer">Critère d'admission</div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card border-primary mb-3" style="max-width: 20rem;">
                <div class="card-header">Libelle <a class="float-right" href=""><img src="./assets/img/icon/upd.png" alt=""></a><a class="float-right" href=""><img src="./assets/img/icon/close.png" alt=""></a></div>
                <div class="card-body">
                  <p class="card-text">Présentation: Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, amet.</p>
                <div class="card-footer">Groupe Competences</div>
                <div class="card-footer">Programme</div>
                <div class="card-footer">Critère d'évaluation</div>
                <div class="card-footer">Critère d'admission</div>
                </div>
            </div>
        </div>
    </div>
</div> 

<router-outlet></router-outlet>