<div class="container d">
    <div class="row">
        <div class="col-lg-7 col-md-12 mb-4 mb-md-0 shadow">
            <img src="/assets/img/c3.png" alt="sngefb">
        </div>

        <div class="col-lg-5 col-md-12 mb-md-0 shadow p-3 mb-5 bg-white rounded">
            <form [formGroup]="LoginForm" (ngSubmit)="onLogin()">
                <fieldset>
                  <legend class="text-center mb-4">Login</legend>
                  <div class="form-group ml-4 mt-4 mr-4">
                    <label for="username">Username </label>
                    <input type="username" class="form-control" id="username" formControlName="username" [(ngModel)]="username" required placeholder="Enter username">
                    <small id="usernameHelp" class="form-text text-muted"></small>
                  </div>
                  <div class="form-group  ml-4 mt-4 mr-4">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" formControlName="password" [(ngModel)]="password" required placeholder=" Enter Password">
                  </div>
                  <fieldset class="form-group  ml-4 mt-4 mr-4">
                    <div class="form-check disabled">
                      <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" >
                        Gardez ma session active
                      </label><hr>
                      <a href="#">Mot de passe oublié?</a>
                    </div>
                  </fieldset>
                  <button type="submit" class="btn btn-sm-12 btn-primary ml-5">Se connecter</button>
                </fieldset>
              </form>
        </div>
    </div>
</div>
<app-footer></app-footer>