
    <div class="jumbotron shadow p-3 mt-5">
        <h1 class="display-5 text-center bg-warning">Création d'un Groupe de Competence</h1>
        <hr class="my-4">
        <form [formGroup]="addGrouprCompetenceForm" (ngSubmit)="onSubmit()">
            <fieldset>
              <div class="form-group">
                <label for="libelle">Libelle</label>
                <input type="text" class="form-control " id="" aria-describedby="libelle" formControlName="libelle" [(ngModel)]="libelle"
                        placeholder="choisir le titre le plus claire, le plus pro et le plus acchocheur possible">
              </div>
              <div class="form-group">
                <label for="descriptif">Descriptif</label>
                <textarea class="form-control" id="descriptif" rows="3" formControlName="descriptif" [(ngModel)]="descriptif"
                          placeholder="Donnez le descriptif"></textarea>
              </div>
              <div class="form-group">
                <label for="Textdescription">Competences</label>
                <!-- <a class="form-control col-lg-3 btn btn-primary float-right" [routerLink]="['/home/groupes-competences/add-groupe-competences/add-competence']">
                  Ajouter Competence<img src="./assets/img/icon/add-user.png" alt="">
              </a> -->
                  <router-outlet></router-outlet>
                 <select id = "competence" class="form-control" multiple = "multiple"  formControlName="competence" [(ngModel)]="competence"> 
                   <option *ngFor="let c of competences" > {{c.libelle}} </option> 
                 </select>               
              </div>
              <div class="row">
                  <div class="col-lg-6">
                    <button type="submit" class="btn btn-primary float-right">Soumettre</button>
                  </div>
              </div>
            </fieldset>
        </form>
      </div>