
    <div class="jumbotron shadow p-3 mt-5">
        <h1 class="display-5 text-center bg-warning">Création d'un Groupe de Competence</h1>
        <hr class="my-4">
        <form>
            <fieldset>
              <div class="form-group">
                <label for="InputTitre">Libelle</label>
                <input type="text" class="form-control " id="" aria-describedby="titre" 
                        placeholder="choisir le titre le plus claire, le plus pro et le plus acchocheur possible">
              </div>
              <div class="form-group">
                <label for="Textdescription">Descriptif</label>
                <textarea class="form-control" id="exampleTextarea" rows="3" 
                          placeholder="Donnez le descriptif"></textarea>
              </div>
              <div class="form-group">
                <label for="Textdescription">Competences</label>
                <textarea class="form-control" id="exampleTextarea" rows="3" 
                          placeholder="Ajouter les competences"></textarea>
              </div>
              <div class="row">
                  <div class="col-lg-6">
                    <button type="submit" class="btn btn-primary float-right">Soumettre</button>
                  </div>
              </div>
            </fieldset>
        </form>
      </div>
