<div class=" shadow p-3 mt-3">
    <h2 class="display-5 text-center bg-primary">Gestion des Tags</h2>
    <div class="row mt-5">
        <div class="col-lg-7 mx-auto block mb-2">
            <form action="">
            <div class="form-group col-lg">
                <label for="select">Libelle</label>
                <input type="text" class="form-control" name="" id="" placeholder="Developper le front d'une application">
            </div>
            <div class="form-group col-lg">
                <label for="select">Tags</label><br>
                <textarea class="mx-auto form-control" name="tags" id="" cols="50" rows="10"></textarea>
            </div>
            <div class="row">
                <button type="submit" class="btn btn-primary mx-auto">SOUMETTRE</button>
            </div>
            </form>
        </div>
    </div>
    <div class="row">
        <app-tags></app-tags>
    </div>
</div> 

<router-outlet></router-outlet>