<div class=" shadow p-3 mt-3">
    <h2 class="display-5 text-center bg-warning shadow">Gestion des Tags</h2>
        <app-tags></app-tags>
    <div class="row mt-5">
        <div class="col-lg-7 mx-auto block mb-2">
            <h2 class="display-5 text-center shadow bg-warning">Groupe des Tags</h2>
            <div class="row mt-4">
                <a class="ml-2" href="#">
                    <button type="submit" class="btn btn-primary mx-auto ">Developpement Mobile</button>
                </a>
                <a class="ml-2" href="#">
                    <button type="submit" class="btn btn-primary mx-auto ">Système & Réseaux</button>
                </a>
                <a class="ml-2" href="#">
                    <button type="submit" class="btn btn-primary mx-auto ">Objets connectés</button>
                </a>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-lg-7 mx-auto block mb-2">
            <h2 class="display-5 text-center shadow bg-warning">Tags</h2>
            <div class="row mt-3">
                <div class="col-lg round">
                    <button type="submit" class="btn btn-primary mx-auto ">Html 5</button>
                    <a class="ml-2" href="#"><img src="./assets/img/icon/close.png" alt=""></a>
                </div>
                <div class="col-lg round">
                    <button type="submit" class="btn btn-primary mx-auto ">Html 5</button>
                    <a class="ml-2" href="#"><img src="./assets/img/icon/close.png" alt=""></a>
                </div>
                <div class="col-lg round">
                    <button type="submit" class="btn btn-primary mx-auto ">Html 5</button>
                    <a class="ml-2" href="#"><img src="./assets/img/icon/close.png" alt=""></a>
                </div>
                <div class="col-lg round">
                    <button type="submit" class="btn btn-primary mx-auto ">Html 5</button>
                    <a class="ml-2" href="#"><img src="./assets/img/icon/close.png" alt=""></a>
                </div>
            </div>
        </div>
    </div>
</div> 
<router-outlet></router-outlet>