<router-outlet></router-outlet>
<div class=" mt-3 shadow">
    <h1 class="display-5 text-center bg-warning">Lister Groupe de Competence</h1>
    <div class="col-lg">
        <a class="btn btn-primary float-right" [routerLink]="['/home/groupes-competences/add-groupe-competences']">
            Ajouter<img src="./assets/img/icon/add-user.png" alt="">
        </a>
    </div>
    <div class="row mt-5">
        <div class="col-lg-3">
            <div class="card shadow mb-3" style="max-width: 20rem;">
                <div class="card-header">Libelle <a class="float-right" href=""><img src="./assets/img/icon/upd.png" alt=""></a><a class="float-right" href=""><img src="./assets/img/icon/close.png" alt=""></a></div>
                <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <div class="card-footer">Competences</div>
                <div class="card-footer">Tags</div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card shadow mb-3" style="max-width: 20rem;">
                <div class="card-header">Libelle<a class="float-right" href=""><img src="./assets/img/icon/upd.png" alt=""></a><a class="float-right" href=""><img src="./assets/img/icon/close.png" alt=""></a></div>
                <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <div class="card-footer">Competences</div>
                <div class="card-footer">Tags</div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card shadow mb-3" style="max-width: 20rem;">
                <div class="card-header">Libelle <a class="float-right" href=""><img src="./assets/img/icon/upd.png" alt=""></a><a class="float-right" href=""><img src="./assets/img/icon/close.png" alt=""></a></div>
                <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <div class="card-footer">Competences</div>
                <div class="card-footer">Tags</div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card shadow mb-3" style="max-width: 20rem;">
                <div class="card-header">Libelle <a class="float-right" href=""><img src="./assets/img/icon/upd.png" alt=""></a><a class="float-right" href=""><img src="./assets/img/icon/close.png" alt=""></a></div>
                <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <div class="card-footer">Competences</div>
                <div class="card-footer">Tags</div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card shadow mb-3" style="max-width: 20rem;">
                <div class="card-header">Libelle<a class="float-right" href=""><img src="./assets/img/icon/upd.png" alt=""></a><a class="float-right" href=""><img src="./assets/img/icon/close.png" alt=""></a></div>
                <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <div class="card-footer">Competences</div>
                <div class="card-footer">Tags</div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card shadow mb-3" style="max-width: 20rem;">
                <div class="card-header">Libelle <a class="float-right" href=""><img src="./assets/img/icon/upd.png" alt=""></a><a class="float-right" href=""><img src="./assets/img/icon/close.png" alt=""></a></div>
                <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <div class="card-footer">Competences</div>
                <div class="card-footer">Tags</div>
                </div>
            </div>
        </div>
    </div>
</div> 
