<div class="row">
  <div class="col-lg-6 mt-5">
    <h1 class="display-5 text-center">Liste Profiles</h1>
        <a [routerLink]="['/home/profiles/add-profile']">
          <button type="submit" class="btn btn-primary float-right"><img src="./assets/img/icon/add-user.png" alt=""></button>
        </a>
    </div>
    <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Libelle</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Administrateur</td>
            <td>
                <a class="ml-4" [routerLink]="['/home/profiles/list-admins']">Lister Admin</a>
                <a class="ml-4" href="">Editer</a>
                <a class="ml-4" href="">Supprimer</a>
            </td>
          </tr>
          <tr>
            <td>C. Manager</td>
            <td>
                <a class="ml-4" [routerLink]="['/home/profiles/list-cms']">Lister Cm</a>
                <a class="ml-4" href="">Editer</a>
                <a class="ml-4" href="">Supprimer</a>
            </td>
          </tr>
          <tr>
            <td>Formateur</td>
            <td>
                <a class="ml-4" [routerLink]="['/home/profiles/list-formateurs']">Lister Formateur</a>
                <a class="ml-4" href="">Editer</a>
                <a class="ml-4" href="">Supprimer</a>
            </td>
          </tr>
          <tr>
            <td>Apprenant</td>
            <td>
                <a class="ml-4" [routerLink]="['/home/profiles/list-apprenants']">Lister Apprenant</a>
                <a class="ml-4" href="">Editer</a>
                <a class="ml-4" href="">Supprimer</a>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="col-lg-5">
        <router-outlet></router-outlet>
      </div>
</div>