<app-header></app-header>
<div class="container">
    <router-outlet></router-outlet> 
    <div class="jumbotron shadow">
        <img  src="./assets/img/icon/user.png" alt="">
        <label for="" class="text-bold"><h3 class="display-6 ">Les Apprenants de la Promos</h3></label>
        <div class="row">
            <div class="col-lg-4">
                <label for=""><h5 class="display-6">Liste Apprenants</h5></label><hr>
                <span class="text-danger">20 Apprenants</span>
            </div>
            <div class="col-lg-8">
                Statistique Apprenant
            </div>
        </div>
    </div>
    <div class="jumbotron shadow">
        <img  src="./assets/img/icon/user.png" alt="">
        <div class="row">
            <div class="col-lg-4"> <label for="" class="text-bold">
                <h3 class="display-6 ">Mes Groupes</h3></label> 
            </div>
            <div class="col-lg-8">
                <label class="col-lg">Liste des apprenants</label>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <label for=""><h5 class="">Nom du groupe</h5></label>
                <input type="text" name="" class="form-control" id="">
            </div>
            <div class="col-lg-4">
                <label for=""><h5 class="">Affectés</h5></label>
            </div>
            <div class="col-lg-4">
                <label for=""><h5 class="">Non affectés</h5></label>
            </div>
        </div>
    </div>
    <div class="jumbotron shadow">
        <img  src="./assets/img/icon/user.png" alt="">
        <label for="" class="text-bold"><h3 class="display-6 ">Les Briefs de ma Promo</h3></label>
        <div class="row">

            <div class="col-lg-6">
                <label for="">Rechercher</label>
                <input type="text" name="" class="form-control col-lg-6" id="">
                <a  class="btn btn-sm btn-light text-primary fcol-lg-2 float-right" [routerLink]="['briefs']"> Creer un Brief<img src="./assets/img/icon/add.png" alt=""></a>
                <a class="btn btn-sm btn-warning float-right col-lg-4 mt-1" [routerLink]="['rendus']">Corriger les rendus</a> 
            </div>
            <div class="col-lg-6">
                
            </div>
        </div>
    </div>
    <div class="jumbotron shadow">
        <img  src="./assets/img/icon/user.png" alt="">
        <label for="" class="text-bold"><h3 class="display-6 ">Mes Referentiels</h3></label>
        <div class="row">
        </div>
    </div>
    <div class="jumbotron shadow">
        <img  src="./assets/img/icon/user.png" alt="">
        <label for="" class="text-bold"><h3 class="display-6 ">Statistique</h3></label>
        <div class="row">
        </div>
    </div>
</div>
<app-footer></app-footer>