<app-header></app-header>
<div class="container">
    <router-outlet></router-outlet> 
    <div class="jumbotron shadow">
        <img  src="./assets/img/icon/user.png" alt="">
        <label for="" class="text-bold"><h3 class="display-6 ">Les Apprenants de la Promos</h3></label>
        <div class="row">
            <div class="col-lg-4">
                <label for=""><h5 class="display-6">Liste Apprenants</h5></label><hr>
                <span class="text-danger">20 Apprenants</span>
            </div>
            <div class="col-lg-8">
                Statistique Apprenant
            </div>
        </div>
    </div>
    <div class="jumbotron shadow">
        <img  src="./assets/img/icon/user.png" alt="">
            <label class="col-lg">Liste des apprenants</label>
            <label for="" class="text-bold"><h3 class="display-6 ">Mes Groupes</h3></label> 
        <div class="row">
            <div class="col-lg-4">
                <label for=""><h5 class="">Nom du groupe</h5></label><hr>
                <span class="text-danger">20 Apprenants</span>
            </div>
            <div class="col-lg-4">
                <label for=""><h5 class="">Affectés</h5></label><hr>
                <span class="text-danger">20 Apprenants</span>
            </div>
            <div class="col-lg-4">
                <label for=""><h5 class="">Non affectés</h5></label><hr>
                <span class="text-danger">20 Apprenants</span>
            </div>
        </div>
    </div>
    <div class="jumbotron shadow">
        <img  src="./assets/img/icon/user.png" alt="">
        <label for="" class="text-bold"><h3 class="display-6 ">Les Briefs de ma Promo</h3></label>
        <div class="row">
            <div class="col-lg-4">
                <label for=""><h5 class="display-6">Liste Apprenants</h5></label><hr>
                <span class="text-danger">20 Apprenants</span>
            </div>
            <div class="col-lg-8">
                Statistique Apprenant
            </div>
        </div>
    </div>
    <div class="jumbotron shadow">
        <img  src="./assets/img/icon/user.png" alt="">
        <label for="" class="text-bold"><h3 class="display-6 ">Mes Referentiels</h3></label>
        <div class="row">
            <div class="col-lg-4">
                <label for=""><h5 class="display-6">Liste Apprenants</h5></label><hr>
                <span class="text-danger">20 Apprenants</span>
            </div>
            <div class="col-lg-8">
                Statistique Apprenant
            </div>
        </div>
    </div>
    <div class="jumbotron shadow">
        <img  src="./assets/img/icon/user.png" alt="">
        <label for="" class="text-bold"><h3 class="display-6 ">Statistique</h3></label>
        <div class="row">
            <div class="col-lg-4">
                <label for=""><h5 class="display-6">Liste Apprenants</h5></label><hr>
                <span class="text-danger">20 Apprenants</span>
            </div>
            <div class="col-lg-8">
                Statistique Apprenant
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>