<app-header></app-header>
<div class="container">
    <div class="">
        <router-outlet></router-outlet> 
    </div>
         <!-- <div class="jumbotron shadow mt-5">
        
        <label for="" class="text-bold">
            <h3 class="display-6 ">
                <img  src="./assets/img/icon/user.png" alt="">Les Apprenants de la Promos
            </h3>
        </label>
        <div class="row">
            <div class="col-lg-4">
                <label for=""><h5 class="display-6">Liste Apprenants</h5></label><hr>
                <span class="text-danger">20 Apprenants</span>
            </div>
            <div class="col-lg-8">
                Statistique Apprenant
            </div>
        </div>
    </div>
    <div class="jumbotron shadow">
        <div class="row">
            <div class="col-lg-4"> 
                <label for="" class="text-bold">
                    <h3 class="display-6 ">
                        <img  src="./assets/img/icon/user.png" alt="">Mes Groupes</h3>
                    </label> 
            </div>
            <div class="col-lg-8">
                <label class="col-lg">Liste des apprenants</label>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <label for=""><h5 class="">Nom du groupe</h5></label>
                <input type="text" name="" class="form-control" id="">
            </div>
            <div class="col-lg-4">
                <label for=""><h5 class="">Affectés</h5></label>
            </div>
            <div class="col-lg-4">
                <label for=""><h5 class="">Non affectés</h5></label>
            </div>
        </div>
    </div>
    <div class="jumbotron shadow">

          <label for="" class="text-bold">
                <h3 class="display-6 ">
                    <img src="./assets/img/icon/brief.png" alt="brief" >Les Briefs de ma Promo
                </h3>
            </label>
        <div class="row">
                <label class="" for="">Rechercher</label>
                <input type="text" name="" class="form-control col-lg-6" id="">
                <a class="btn btn-sm btn-light text-primary col-lg-2 float-right" [routerLink]="['briefs']"> Creer un Brief<img class="ml-2" src="./assets/img/icon/add.png" alt=""></a>
                <a class="tn btn-sm btn-warning text-dark float-right" [routerLink]="['rendus']">Corriger les rendus<img  src="./assets/img/icon/rendu.png" alt=""></a> 
            <div class="col-lg-6">
                <div class="card mb-3 shadow mt-4 ml-5" style="max-width: 25rem;">
                    <div class="card-header">
                        <img src="./assets/img/academy.png" alt="">
                    </div>
                    <div class="card-body">
                        <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempore, officia? Présentation: Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, amet.</p>
                        <div class="card-footer">
                            <select class="form-control " id="exampleSelect1">
                                <option>Non assigné</option>
                                <option>Assigné</option>
                                <option>Modifié</option>
                                <option>Dupliqué</option>
                                <option>Archivé</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card mb-3 ml-5 mt-4" style="max-width: 25rem;">
                    <div class="card-header">
                        <img src="./assets/img/academy.png" alt="">
                    </div>
                    <div class="card-body">
                        <p class="card-text">Présentation: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae, voluptate. Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, amet.</p>
                        <div class="card-footer">
                            <select class="form-control " id="exampleSelect1">
                                <option>Non assigné</option>
                                <option>Assigné</option>
                                <option>Modifié</option>
                                <option>Dupliqué</option>
                                <option>Archivé</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card mb-3  ml-5 mt-4" style="max-width: 25rem;">
                    <div class="card-header">
                        <img src="./assets/img/academy.png" alt="">
                    </div>
                    <div class="card-body">
                        <p class="card-text">Présentation: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae, voluptate. Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, amet.</p>
                        <div class="card-footer">
                            <select class="form-control " id="exampleSelect1">
                                <option>Non assigné</option>
                                <option>Assigné</option>
                                <option>Modifié</option>
                                <option>Dupliqué</option>
                                <option>Archivé</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card mb-3 ml-5 mt-4" style="max-width: 25rem;">
                    <div class="card-header">
                        <img src="./assets/img/academy.png" alt="">
                    </div>
                    <div class="card-body">
                        <p class="card-text">Présentation: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae, voluptate. Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, amet.</p>
                        <div class="card-footer">
                            <select class="form-control " id="exampleSelect1">
                                <option>Non assigné</option>
                                <option>Assigné</option>
                                <option>Modifié</option>
                                <option>Dupliqué</option>
                                <option>Archivé</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <a href="" class="tn btn-sm btn-primary ml-5 ">voir tous les briefs</a>
            </div>
        </div>
    </div>
    <div class="jumbotron shadow">
        <label for="" class="text-bold">
            <h3 class="display-6 ">
                <img src="./assets/img/icon/brief.png" alt="brief" >Mes Referentiels
            </h3>
        </label>
        <div class="row">
        </div>
    </div>
    <div class="jumbotron shadow">
        
        <label for="" class="text-bold">
            <h3 class="display-6 ">
                <img  src="./assets/img/icon/sta.png" alt="">Statistique
            </h3>
        </label>
        <div class="row">
        </div>
    </div> -->
</div>
<app-footer></app-footer>